@font-face{
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: 'Montserrat-Regular';
}

@font-face{
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: 'Montserrat-Bold';
}

table,input,textarea,button,a{
    font-family: 'Montserrat-Regular' !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold' !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

/* Variables for colours */
:root {
    --darkteal:#00576A;
    /* --teal: #9DD9D2; */
    --teal: #c3ece8;
    --teal2: #2cA6A4;
    --teal3: #5EC2B7;
    --teal4: #79BcB8;
}

button{
    cursor: pointer;
    transition: .3s;
}
a{
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
}
a,p{
    font-size: .8rem;
}
.d_none{
    display: none;
}
.btn{
    padding: 13px 15px;
    border-radius: 2rem !important;
    background: #fff;
    color: var(--teal);
    border: none;
    outline: none;
    display: flex;
    width: fit-content;
    margin: .5rem 0;
}
.btn.danger{
    background: red !important;
    color: #fff !important;
}
.btn span{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}
.btn:hover{
    background: var(--teal);
    color: var(--teal3);
}


/* Codes for alert messages */

.alert{
    width: 300px;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
    color: var(--darkteal);
  }
  .close{
    font-size: .8rem;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
  
  .alert-warning{
    background: orange;
  }
  .alert-success{
    background: lightgreen;
  }


/* Header codes */
#hero{
    /* background: url('../images/back.jfif'); */
    background-color: var(--teal);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero .main_hero{
    display: flex;
    align-items: center;
    padding: 3rem .4rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
#hero .subsection{
    padding: 4rem 1rem;
    text-align: center;
}
#hero .subsection p{
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--darkteal);
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1rem;
}
#hero .subsection h1{
    font-size: 3.5rem;
    color: var(--darkteal);
}
#hero .main_hero .content_text{
    max-width: 330px;
    margin: 1rem 0;
}
#hero .main_hero .content_text h1{
    margin-bottom: 1rem;
    color: var(--darkteal);
    font-size: 2.5rem;
}
#hero .main_hero .content_text h1 span{
    font-family: 'Montserrat-Bold' !important;
    text-transform: uppercase;
}
#hero .main_hero .content_text p{
    line-height: 1.5rem;
    color: var(--darkteal);
}
#hero .main_hero .content_text .btn.cta{
    margin-top: 1rem;
    font-size: 1.1rem;
    background: var(--teal2);
    color: #fff;
}
#hero .main_hero .content_image{
    width: 450px;
    margin: 1rem 0;
}
#hero .main_hero .content_image img{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1rem;
    color: var(--teal);
}
#logo{
    display: flex;
    align-items: center;
    color: var(--darkteal);
    font-size: 1.5rem;
    font-family: 'Montserrat-Bold' !important;
}
#logo span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius:10px;
    overflow: hidden;
    margin-right: .5rem;
}
#logo span img{
    width: 50px;
}
.close_nav{
    display: none;
}
#toggle_nav{
    display: none;
}
#navigation{
    display: flex;
    align-items: center;
    list-style: none;
}
#navigation li{
    margin: 0 15px 0 0;
}
#navigation li a{
    font-size: .8rem;
    color: var(--darkteal);
    font-weight: bold;
}


/* Code for section one */
section{
    padding: 3rem .4rem;
}
section.one .supporters{
    text-align: center;
    max-width: 700px;
    margin: 2rem auto;
}
section.one .supporters h2{
    font-size: 2rem;
    max-width: 500px;
    margin: 1rem auto;
    /* text-transform: uppercase; */
    color: var(--darkteal);;
}
section.one .supporters .company{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
section.one .supporters .company img{
    width: 100px;
    margin: 1rem 2rem;
}

section.one .benefits{
    text-align: center;
    margin-top: 4rem;
}
section.one .benefits h2{
    font-size: 2rem;
    max-width: 500px;
    margin: 0 auto;
    /* text-transform: uppercase; */
    color: var(--darkteal);;
}
section.one .benefits .lists{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    justify-content: center;
}
section.one .benefits .lists .box{
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem 1.5rem 0 0;
    border: 1px solid var(--teal);
}
section.one .benefits .lists .box .head{
    background: var(--teal);
    padding: 1rem 10px;
}
section.one .benefits .lists .box .head h4{
    /* text-transform: uppercase; */
    color: var(--teal2);
}
section.one .benefits .lists .box .head span{
    font-family: 'Montserrat-Bold' !important;
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
    color: var(--darkteal);
}
section.one .benefits .lists .box .content{
    text-align: left;
    padding: 1rem 10px;
}
section.one .benefits .lists .box .content .supporting_text{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
section.one .benefits .lists .box .content p{
    line-height: 1.3rem;
    font-size: .9rem;
}


/* Section two */
section.two {
    padding: 3rem 1rem;
    /* background: url('../images/b3bNN7x.png'); */
    background-color: var(--teal);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
section.two.white{
    padding: 3rem 1rem;
    background: #fff !important;
    padding-top: 4rem;
}
section.two h2{
    font-size: 2.5rem;
    max-width: 700px;
    margin-bottom: 3.5rem;
    color: var(--darkteal);
}
section.two .divide{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
section.two .divide:nth-child(odd){
    flex-direction: row-reverse;
}
section.two .divide .text{
    max-width: 400px;
}
section.two .divide .text h3{
    font-size: 2rem;
    color: var(--darkteal);
    margin-bottom: .5rem;
}
section.two .divide .text p{
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--darkteal);
}
section.two.white .divide .text p{
    color: var(--teal2);
}
section.two .divide .img{
    max-width: 400px;
    width: 400px;
}
section.two .divide .img.small {
    width: 200px;
}
section.two .divide .img img{
    width: 100%;
}


/* Pricing section */
.pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pricing .box{
    width: 250px;
    text-align: center;
    margin: 2rem 1rem;
}
.pricing .box .head{
    padding: 1rem;
    background-color: var(--darkteal);
}
.pricing .box .head p{
    color: #fff;
    font-size: 1.2rem;
}
.pricing .box .content{
    padding: 1rem;
    background-color: var(--teal);
}
.pricing .box .content .price{
    font-family: 'Montserrat-Bold' !important;
    font-size: 3rem;
    color: var(--darkteal);
}
.pricing .box .content ul{
    list-style: none;
    margin: 1rem 0;
}
.pricing .box .content ul li{
    margin: 10px 0;
    font-size: .8rem;
}
.pricing .box .content .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 .5rem 0;
    font-size: 1rem;
    background: var(--darkteal);
}



/* About list */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem 1rem;
}
.about .text_side{
    max-width: 400px;
}
.about .text_side .box{
    margin: 1.5rem 0;
}
.about .text_side .box h4{
    color: var(--darkteal);
}
.about .text_side .box p{
    color: var(--darkteal);
    margin-top: 5px;
}
.about .side_img{
    width: 350px;
}
.about .side_img .btn{
    margin: 1rem auto;
    background: var(--teal3);
    color: var(--darkteal);
    margin-top: 2rem;
}
.about .side_img .btn:hover{
    background: var(--teal);
    color: #fff;
}



/* HOw it works section */
.howitworks{
    padding: 4rem 1rem;
    background: var(--teal);
    text-align: center;
}
.howitworks h2{
    font-size: 2.5rem;
    color: var(--darkteal);
    margin-bottom: 2rem;
}
.howitworks .process{
    display: flex;
    align-items: center;
    justify-content: center;
}
.howitworks .process .box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.howitworks .process .box p{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--darkteal);
}
.howitworks .process .box .number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--teal2);
    color: var(--teal);
    font-family: 'Montserrat-Bold' !important;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.finish{
    margin: 4rem 0;
}
.finish h3{
    font-size: 2rem;
    color: var(--darkteal);
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 600px;
}
.finish .btn{
    margin: 2rem auto;
    font-size: 1.3rem;
    padding: 12px 2rem;
    background: var(--darkteal);
    color: #fff;
}
.finish .btn:hover{
    background: #fff;
    color: var(--darkteal);
}


/* Authentication codes */
.auth_box{
    padding: 3rem 1rem;
    display: grid;
    place-items: center;
}
.auth_box p.or{
    text-align: center;
    margin: 1rem 0;
    font-family: 'Montserrat-Bold' !important;
    font-size: 1rem;
}
.auth_box form{
    width: 300px;
    max-width: 300px;
}
.auth_box form h3{
    color: var(--teal2);
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.auth_box form fieldset,
.edit_section form fieldset{
    border: none;
    margin: 1rem 0;
}
.auth_box form fieldset label,
.edit_section form fieldset label{
    display: block;
    margin-bottom: .3rem;
    font-size: .8rem;
}
.auth_box form.view_mode fieldset small{
    display: none;
}
.auth_box form fieldset small,
.edit_section form fieldset small{
    display: block;
    margin-top: .3rem;
    font-size: .7rem;
    /* text-align: right; */
}
.smallie{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth_box form fieldset input,
#search input,
.edit_section form fieldset input,
.edit_section form fieldset textarea{
    display: block;
    width: 100%;
    border: 1px solid var(--teal2);
    outline: none;
    padding: 8px 12px;
    font-size: .9rem;
    transition: .3s;
    border-radius: 3px;
    line-height: 1.4rem;
}
.auth_box form fieldset[error='True'] input,
#search input.error,
.edit_section form fieldset[error='True'] input,
    .edit_section form fieldset[error='True'] textarea{
    border-color: red;
}
.auth_box form fieldset input:focus{
    border-color: var(--teal);
}
.auth_box form button.submit{
    display: block;
    width: 100%;
    background: var(--teal2);
    color: #fff;
    margin-top: 1.5rem;
    /* border-radius: 8px !important; */
}
.auth_box form button.submit:hover{
    background: var(--darkteal);
}
.auth_box form a.btn{
    display: block;
    width: 100%;
    background: var(--teal);
    color: var(--darkteal);
    text-align: center;
}
.auth_box a.btn:hover{
    background: var(--teal2);
    color: #fff;
}
.auth_box a.forget{
    margin-top: .3rem;
    font-size: .7rem;
    color: var(--teal2);
}



/* Footer codes */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

footer p{
    margin: 0 auto;
}
footer ul{
    margin: .4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer ul a{
    margin: 0 .3rem;
}
footer a{
    color: var(--darkteal);
    font-weight: bold;
}

#top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--teal2);
    font-size: 1.4rem;
    bottom: .5rem;
    right: .5rem;
    color: var(--darkteal);
}
#top:hover{
    background-color: var(--darkteal);
    color: #fff;
}


/* Head Nav */
.head_nav{
    display: flex;
    align-items: center;
    padding: .8rem 1rem;
    flex-wrap: wrap;
}
.head_nav h2{
    font-size: 2rem;
    color: var(--darkteal);
    margin-right: auto;
}
.head_nav .btn{
    background: var(--teal);
    color: var(--darkteal);
    margin: .3rem .5rem;
    font-weight: bold;
}
.head_nav .btn:hover{
    background: var(--darkteal);
    color: #fff;
}

.account{
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.account .boxes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 1rem;
}
.account .boxes .box{
    margin: 1rem 2rem 0 0;
    color: var(--darkteal);
}
.account .boxes .box p{
    font-size: 2.2rem;
    margin-top: 5px;
}
.account_box{
    width: 300px;
    background: var(--teal2);
    padding: 1.8rem 1rem;
    border-radius: 5px;
}
.account_box h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--darkteal);
}
.account_box h3  span.edit{
    background: var(--darkteal);
    color: #fff;
    font-size: .8rem;
    padding: 7px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
.account_box h3  span.edit:hover{
    background: var(--teal);
    color: #fff;
}
.account_box h3  span.edit svg{
    margin-right: .3rem;
}
.account_box .auth_box{
    padding: 0 0 !important;
}
.account_box .auth_box form{
    width: 100%;
}
.account_box .auth_box form.view_mode button{
    display: none;
}
.account_box .auth_box form button.submit{
    background: #fff;
    color: var(--darkteal);
}
.change_password{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 2rem;
    color: #fff;
    font-size: .7rem;
    background-color: var(--darkteal);
    margin: .5rem 0 0 auto;
}


/* HIstorical blogs page */
.h2h{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--darkteal);
    padding: 1rem;
    text-align: center;
}
.result{
    color: var(--teal2);
    padding: .5rem 1rem;
    margin-top: 2rem;
}
.listings{
    padding: 1rem;
}
.listings .list_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--teal4);
    max-width: 700px;
}
.listings .list_box .actions{
    display: flex;
    align-items: center;
    width: 200px;
    margin: .4rem 0;
    justify-content: flex-end;
    margin-left: auto;
}
.listings .list_box p{
    margin-right: auto;
    max-width: 500px;
    line-height: 1.5rem;
    font-size: 1rem;
}
.listings .list_box .btn{
    background: var(--darkteal);
    color: #fff;
    margin: 0 .5rem;
    padding: 5px 10px;
    font-size: .7rem;
}
.listings .list_box .btn.danger{
    background: red;
    color: #fff;
}


#search{
    padding: .5rem 1rem;
    max-width: 400px;
    display: flex;
    align-items: center;
}
#search input{
    border-radius: 2rem;
    border-color: var(--teal);
}
#search input:focus{
    border-color: var(--teal2);
}
#search button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    background-color: var(--teal2);
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left: .3rem;
    font-size: 1rem;
    transition: .3s;
}
#search button:hover{
    background-color: var(--darkteal);
}

.pagination{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: .2rem 1rem;
    flex-wrap: wrap;
}
.pagination .btn{
    margin: .2rem .3rem;
    background: var(--teal2);
    color: var(--darkteal);
    font-size: .7rem;
    padding: 7px 10px;
}
.pagination .btn.active,
.pagination .btn:hover{
    background: var(--darkteal);
    color: #fff;
}



/* Create blog section */
#total_copy{
    display: none;
}
.blog_panel{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    /* flex-wrap: wrap; */
}
.blog_panel .hint_section{
    width: 270px;
    min-width: 250px;
}
.blog_panel .hint_section .box{
    background-color: var(--teal);
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.blog_panel .hint_section .box h3{
    color: var(--darkteal);
    margin-bottom: .5rem;
}
.blog_panel .hint_section .box.credit p{
    font-size: 2rem;
    margin: .5rem 0;
}
.blog_panel .hint_section .box.credit .btn{
    font-size: 1rem;
    background: var(--teal2);
    color: #fff;
    font-weight: bold;
    margin: 1rem 0;
}
.blog_panel .hint_section .box.credit .btn:hover{
    background: var(--darkteal);
}
.blog_panel .hint_section .box.hints ul{
    list-style: none;
}
.blog_panel .hint_section .box.hints ul li{
    margin: .8rem 0;
}
.blog_panel .hint_section .box.hints ul li span{
    float: left;
    margin: 0 .4rem .4rem 0;
    color: var(--darkteal);
}
.blog_panel .hint_section .box.hints ul li p{
    line-height: 1.1rem;
}
#show_hint{
    display: none;
}


.edit_section{
    width: 100%;
    min-width: 500px;
    padding: 0 1rem;
}
.edit_section form fieldset textarea{
    height: 100px;
}
.copy_area{
    padding-top: 2rem;
    position: relative;
}
.copy_area p.text_content{
    width: 100%;
    border: none;
    min-height: 300px;
    height: auto;
    background: transparent;
    outline: none;
    border: 1px solid var(--teal2);
    padding: 8px;
    font-size: .9rem;
    line-height: 1.4rem;
}
.text_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_head .btn{
    background-color: var(--teal2);
    color: #fff;
    font-size: .7rem;
    padding: 8px 15px;
}
.text_head .btn:hover{
    background-color: var(--darkteal);
}
#close_hint{
    display: none;
    font-size: .8rem;
    padding: 8px 12px;
    margin-left: auto;
    cursor: pointer;
    color: var(--darkteal);
}

#generate_text{
    background-color: var(--teal2);
    color: #fff;
    font-weight: bold;
}
#generate_text:hover{
    background-color: var(--darkteal);
}

#loading{
    background-color: rgb(0 0 0 / 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}
#loading.active{
    opacity: 1;
    pointer-events: all;
}
#loading h3{
    margin-top: 1rem;
}
#loading.active .circle{
    animation-play-state: running;
}
#loading .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--teal);
    animation: moving 2.3s linear infinite;
    margin: 1rem auto;
    transform: translateX(-2rem);
    animation-play-state: paused;
}
@keyframes moving{
    from, to{
        transform: translateX(-2rem);
    }
    50%{
        transform: translateX(2rem);
        background-color: yellow;
    }

}


/* Modal code for blogs section */
.modal{
    position: fixed;
    background: rgb(0 0 0 / 81%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;
    padding: .3rem;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal_dialog{
    background-color: var(--teal);
    padding: .7rem;
    border-radius: 3px;
}
.modal_content .head{
    margin: .5rem 0;
}
.modal_content .head h3{
    font-size: 1.5rem;
    color: var(--darkteal);
}
.modal_content .body{
    margin: 1rem 0;
}
.modal_content .body p{
    font-size: .9rem;
    line-height: 1.4rem;
}
.modal_content .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modal_content .actions .btn{
    background: var(--teal2);
    font-weight: bold;
    color: #fff;
    margin: .5rem 0 0 .4rem;
}
.modal_content .actions .btn:hover{
    background: var(--darkteal);
    color: #fff;
}


.container_alt{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.container_alt .payment_info{
    max-width: 300px;
    padding: 1rem;
    border-radius: 3px;
    background-color: var(--teal);
}
.container_alt .payment_info h3{
    font-size: 1.5rem;
    color: var(--darkteal);
    margin: .5rem 0;
}
.container_alt .payment_info p{
    font-size: .9rem;
    color: var(--darkteal);
    line-height: 1.4rem;
}
.container_alt .payment_info .btn{
    background-color: var(--teal2);
    color: #fff;
    font-weight: bold;
    margin: .8rem 0 .6rem 0;
    width: 100%;
    justify-content: center;
}
.container_alt .payment_info .btn:hover{
    background-color: var(--darkteal);
}



/* Responsive design */
@media(max-width: 800px){
    section.two .divide .img{
        margin: 2rem 0;
    }
    #hero .main_hero .content_text .btn.cta {
        margin: 1rem auto;
    }
    #hero .main_hero .content_text p {
        text-align: center;
    }
    #hero .main_hero .content_text h1 {
        text-align: center;
    }
    #hero .main_hero .content_text {
        max-width: 530px;
    }
}
@media(max-width: 767px){
    #show_hint{
        display: flex;
    }
    .edit_section {
        width: 100%;
        min-width: auto;
        padding: 0;
    }
    #close_hint{
        display: flex;
    }
    .blog_panel .hint_section{
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        overflow-y: scroll;
        padding: 3rem 1rem;
        height: 100vh;
        width: 100%;
        background-color: rgb(17 29 15 / 84%);
    }
    .blog_panel .hint_section .box{
        max-width: 300px;
    }
    .blog_panel .hint_section.active{
        opacity: 1;
        pointer-events: all;
    }
}
@media(max-width: 750px){
    #navigation{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--teal2);
        flex-direction: column;
        width: 300px;
        min-height: 100%;
        transition: .3s;
        transform: translateX(-100%);
    }
    #navigation.active{
        transform: translateX(0);
    }
    #navigation li{
        margin: 0;
        width: 100%;
    }
    #navigation li a{
        color: #fff;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: .9rem;
    }
    #navigation li a:hover{
        background: var(--darkteal);
    }
    .close_nav{
        display: block;
        font-size: 1.3rem !important;
        justify-content: flex-end !important;
    }
    #toggle_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        width: 35px;
        height: 35px;
        background: var(--teal2);
        border-radius: 3px;
        color: #fff;
    }
}
@media(max-width: 400px){
    .howitworks .process {
        flex-direction: column;
    }
    .howitworks .process .box {
        margin-bottom: 1.5rem;
    }
    .about .side_img{
        width: 250px;
    }
    .head_nav {
        padding: .8rem .5rem;
    }
    .result{
        padding: .5rem .5rem;
    }
    .h2h{
        font-size: 1.5rem;
        padding: .5rem;
    }
    #search {
        padding: .5rem .5rem;
    }
    .listings {
        padding: 1rem 0;
    }
    .listings .list_box {
        padding: 1rem .5rem;
    }
    .pagination {
        padding: .2rem 0rem;
    }
}
@media(max-width: 340px){
    .auth_box form{
        width: 100%;
    }
    #hero .main_hero .content_text h1 {
        font-size: 2rem;
    }
    section.two h2 {
        font-size: 2rem;
    }
    #hero .subsection h1 {
        font-size: 2rem;
    }
}