{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div id='hero'>
        {% include 'blog/navigation.html' %}
    </div>

    <div class="head_nav">
        <h2>Accounts</h2>
        <a href="#" class="btn">Buy Credits</a>
    </div>

    <div class="account">
        <div class="account_box">
            <h3>User details <span class="edit" id="edit_profile"><i class="fas fa-pen"></i>Edit</span></h3>
            <div class="auth_box">
                <form method="POST" class="view_mode" id="profile_box">
                    {% csrf_token %}
                    <fieldset error='{% if form.username.errors %}True{% endif %}'>
                        <label>Username</label>
                        <input disabled type="text" name='username' value="{% if form.username.value %}{{form.username.value}}{% endif %}">
                        <small>
                            {% if form.username.errors %}
                                {% for i in form.username.errors %}
                                {{ i }}<br>
                                {% endfor %}
                            {% else %}
                                {{form.username.help_text}}
                            {% endif %}
                        </small>
                    </fieldset>
                    <fieldset error='{% if form.email.errors %}True{% endif %}'>
                        <label>Email</label>
                        <input disabled type="email" name='email' value="{% if form.email.value %}{{form.email.value}}{% endif %}">
                        <small>
                            {% if form.email.errors %}
                                {% for i in form.email.errors %}
                                {{ i }}<br>
                                {% endfor %}
                            {% else %}
                                {{form.email.help_text}}
                            {% endif %}
                        </small>
                    </fieldset>
                    <button class="submit btn">Update</button>
                    <a class="change_password" href="#">Change Password</a>
                </form>
            </div>
            
        </div>
        <div class="boxes">
            <div class="box">
                <h4>Credits</h4>
                <p>{{request.user.profile.credit}}</p>
            </div>
            <div class="box">
                <h4>Total Blogs</h4>
                <p>23</p>
            </div>
            <!-- <div class="box">
                <h4>Credits</h4>
                <p>233</p>
            </div> -->
        </div>
    </div>

    
{% endblock %}