{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div id='hero'>
        {% include 'blog/navigation.html' %}
        <!-- <div class="subsection">
            <h1>Create awesome contents today!</h1>
        </div> -->
    </div>

    <div class="auth_box">
        <form method="POST">
            {% csrf_token %}
            <h3>Reset Password</h3>
            <fieldset error='{% if form.new_password.errors %}True{% endif %}'>
                <label>New Password</label>
                <input type="password" name='new_password' value="{% if form.new_password.value %}{{form.new_password.value}}{% endif %}">
                <small>
                    {% if form.new_password.errors %}
                        {% for i in form.new_password.errors %}
                        {{ i }}<br>
                        {% endfor %}
                    {% else %}
                        {{form.new_password.help_text}}
                    {% endif %}
                </small>
            </fieldset>
            <fieldset error='{% if form.confirm_password.errors %}True{% endif %}'>
                <label>Confirm Password</label>
                <input type="password" name='confirm_password' value="{% if form.confirm_password.value %}{{form.confirm_password.value}}{% endif %}">
                <small>
                    {% if form.confirm_password.errors %}
                        {% for i in form.confirm_password.errors %}
                        {{ i }}<br>
                        {% endfor %}
                    {% else %}
                        {{form.confirm_password.help_text}}
                    {% endif %}
                </small>
            </fieldset>
            <button class="submit btn">Reset password</button>
            <a href="{% url 'signin' %}" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}