{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div id='hero'>
        {% include 'blog/navigation.html' %}
        <!-- <div class="subsection">
            <h1>Create awesome contents today!</h1>
        </div> -->
    </div>

    <div class="auth_box">
        <form method="POST">
            {% csrf_token %}
            <h3>Reset Password</h3>
            <fieldset error='{% if form.email.errors %}True{% endif %}'>
                <label>Email</label>
                <input type="email" name='email' value="{% if form.email.value %}{{form.email.value}}{% endif %}">
                <small>
                    {% if form.email.errors %}
                        {% for i in form.email.errors %}
                        {{ i }}<br>
                        {% endfor %}
                    {% else %}
                        {{form.email.help_text}}
                    {% endif %}
                </small>
            </fieldset>
            <button class="submit btn">Reset</button>
        </form>
    </div>
{% endblock %}