<!doctype html>
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
<div class="container">
    <!-- START THE FEATURETTES -->
    <br> </br>
    <h2> Case Studies </h2>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading"><span class="text">Wall Street Journal</span></h3>
        <p class="lead">Breaking news with additional insights at any given moment – Director of Strategic Marketing Initiatives</p>
      </div>
      <div class="col-md-4">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8 order-md-2">
        <h3 class="featurette-heading"><span class="text">Springer Nature</span></h3>
        <p class="lead">Helping them enrich content on blog posts and a selection of journals – Content Marketing Director</p>
      </div>
      <div class="col-md-4 order-md-1">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading"><span class="text">Paragon Group</span></h3>
        <p class="lead">Largest privately owned company gaining SEO rankings through intelligent content creation – Chief Marketing Officer</p>
  </div>
      <div class="col-md-4">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


{% endblock %}
</html>
