<!doctype html>
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
<div class="container">
  <br> </br>
  <h2> Say Hello to the Future of Copywriting! </h2>
  <h3> Enhance your content plan with automatic content creation in all languages. </h3>
  <p><a class="btn btn-secondary" href="#" role="button">Create Content Now &raquo;</a></p>
  <br> </br>

  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'tesco.png' %}" width=200 alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'vodafone.png' %}" width=200 alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'tesla.png' %}" width=200 alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'harrods.png' %}" width=200 alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  </div>
</div>
  <br>

</br>
</div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
<h2> The future of marketing is great content. </h2>
<br> </br>
   <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-3">
        <!svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1.2 Bn</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"> </text></svg>

        <h1>1.2Bn</h1>
        <h4>Volume of Content Generated</h4>
        <h5>Stay ahead of the game.</h5>
        <p>Customers love content. Join the movement and create unlimited, highly converting content today.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <!svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"> </text></svg>

        <h1>76%</h1>
          <h4>Increase in Page Ranking</h4>
          <h5>Outperform the market.</h5>
        <p> AI optimised content to drive higher engagement and new visitor acquisition.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <!svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"> </text></svg>

          <h1>145</h1>
          <h4>Companies using the platform</h4>
          <h5>Become a marketing pioneer.</h5>
        <p>Forward thinking companies use our platform to revolutionise their content creation.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <!svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1.2 Bn</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"> </text></svg>

        <h1>42%</h1>
        <h4>Increase in Conversions</h4>
        <h5>Create more outcomes.</h5>
        <p>Drive higher engagement and conversions with highly performing copy and content.</p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <br> </br>
    <h2> Organisations are revolutionizing their content production </h2>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading"><span class="text">Digital Marketers</span></h3>
        <p class="lead">Create unlimited highly performing copy in seconds.</p>
        <p class="lead">Drive higher position on Google today.</p>
      </div>
      <div class="col-md-4">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8 order-md-2">
        <h3 class="featurette-heading"><span class="text">Content Creators</span></h3>
        <p class="lead">Unlimited content creation without delay and costs.</p>
        <p class="lead">Fresh engaging content every day to drive acquisition and engagement.</p>
      </div>
      <div class="col-md-4 order-md-1">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading"><span class="text">Affiliate Marketers</span></h3>
        <p class="lead">Drive higher performing and repeatable content in seconds.</p>
        <p class="lead">Drive more conversions and more revenue through acquisition and conversion.</p>
  </div>
      <div class="col-md-4">
        <!svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


{% endblock %}
</html>
